@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slot-column {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-20%);
  }
  85% {
    transform: translateY(-92%);
  }
  100% {
    transform: translateY(-96.75%);
  }
}

.animate-slot-column {
  animation: slot-column cubic-bezier(0.21, 0.53, 0.29, 0.99) forwards;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}